<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="style.css">
        <title>Beranda</title>
</head>
<body class="bg-white px-2">
    
    <%- include('../partials/navbar.ejs') %>

    <div id="image-beranda" class="w-full h-96">
        <div class="text-center py-36 px-52">
            <p id="bg-custom-color" class="font-bold p-4 px-1 text-3xl text-white">"Bingung di mana cari pakan ternak yang bergizi, dengan harga yang terjangkau untuk pakan ternak kamu? Langsung saja
            datang ke UD CITRA MANDIRI dan dapatkan solusinya!"</p>
        </div>
    </div>
    <h1 class="text-center text-3xl font-bold mt-4 mb-10">TESTIMONI PELANGGAN</h1>
    <div class="flex flex-row mx-24 mb-14">
        <div class="p-5">
           <div class="border-x-4 border-black ">
            <p class="text-center basis-10 mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna
                aliqua.</p>
           </div>
            <h3 class="text-center font-bold mt-3">Rahmat</h3>
            <p class="text-center">Pengusaha Sapi</p>
        </div>
        <div class="p-5">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna
                aliqua.</p>
            <h3 class="text-center font-bold  mt-3">Rahmat</h3>
            <p class="text-center">Pengusaha Sapi</p>
        </div>
        <div class="p-5">
            <div class="border-x-4 border-black ">
                <p class="text-center basis-10 mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna
                    aliqua.</p>
            </div>
            <h3 class="text-center font-bold  mt-3">Rahmat</h3>
            <p class="text-center">Pengusaha Sapi</p>
        </div>
    </div>
</body>
</html>