<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body class="bg-white px-2">
    
    <%- include('../partials/navbar.ejs') %>

    <div id="image-beranda" class="w-full h-96">
        <div class="text-center py-36 px-52">
            <p id="bg-custom-color" class="font-bold p-4 px-1 text-3xl text-white">"Bingung di mana cari pakan ternak yang bergizi, dengan harga yang terjangkau untuk pakan ternak kamu? Langsung saja
            datang ke UD CITRA MANDIRI dan dapatkan solusinya!"</p>
        </div>
    </div>
    <h1 class="text-center text-3xl font-bold mt-4 mb-10">TESTIMONI PELANGGAN</h1>
    <div class="flex flex-row mx-24 mb-14">
        <div class="p-5">
           <div class="border-x-4 border-black ">
            <p class="text-center basis-10 mx-5">"Saya sudah order berulang kali di layanan web ini, tidak pernah ada kecewa, apalagi support yang sangat cepat dan
            ramah"</p>
           </div>
            <h3 class="text-center font-bold mt-3">Rahmat</h3>
            <p class="text-center">Pengusaha Sapi Bibit</p>
        </div>
        <div class="p-5">
            <p class="text-center">"Pakan ternak yang Saya beli dari UD
            CITRA MANDIRI sesuai foto dan deskripsi yang tertera. Toko ini akan jadi calon langganan Saya".</p>
            <h3 class="text-center font-bold  mt-3">Adam Rifaldy</h3>
            <p class="text-center">Pengusaha ayam peteluri</p>
        </div>
        <div class="p-5">
            <div class="border-x-4 border-black ">
                <p class="text-center basis-10 mx-5">"Produknya bagus banget, sangat worth dengan harganya. Hanya saja kelemahannya pengirimannya agak lama. Tapi tidak
                masalah, karena itu bukan kesalahan dari pihak kakak".</p>
            </div>
            <h3 class="text-center font-bold  mt-3">Sultan Nur Salim</h3>
            <p class="text-center">Pengusaha ayam boiler</p>
        </div>
    </div>

    <iframe class="w-full border-solid border-black"
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d248.19676587817395!2d119.9229958957178!3d-5.545024888185179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sid!4v1696854217570!5m2!1sen!2sid"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div class="text-xl text-center h-10 bg-slate-400 p-2 font-semibold">
        <p>Jl. Beloparang, Bonto Lebang, Kec. Bissappu, Kabupaten Bantaeng, Sulawesi Selatan 92451</p>
    </div>
</body>
</html>