<div class="flex justify-between bg-lime-600">
    <P class="my-2 ml-3 font-bold"><i class="fa-brands fa-whatsapp"></i> 0987654321 &nbsp; &nbsp; <i
            class="fa-regular fa-envelope"></i> citramandiri47@gmail.com</P>
    <p class="my-2 mx-3 font-bold">Halo, Admin</p>
</div>
<nav class="p-4 hadow bg-slate-400 md:flex md:items-center md:justify-between">
    <div class="flex items-center justify-between ">
        <span class="text-2xl font-[Poppins] cursor-pointer">
            <!-- Toggler -->
            <button
                class="inline-block rounded bg-primary px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white border-black border-2 shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-500 active:shadow-lg"
                data-te-sidenav-toggle-ref data-te-target="#sidenav-1" aria-controls="#sidenav-1" aria-haspopup="true">
                <span class="block [&>svg]:h-5 [&>svg]:w-5 [&>svg]:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd"
                            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                            clip-rule="evenodd" />
                    </svg>
                </span>
            </button>
            <!-- Toggler -->
            UD CITRA MANDIRI
        </span>

        <span class="block mx-2 text-3xl cursor-pointer md:hidden">
            <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
        </span>
    </div>

    <ul
        class="md:flex md:items-center z-10 md:z-auto md:static absolute bg-white md:bg-slate-400 w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 px-2 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
        <li
            class="mx-4 my-6 md:my-0 md:my-0 md:px-2 md:py-1 md:rounded mx-2 my-6 px-4 py-3 bg-slate-300 rounded-md md:bg-slate-500">
            <a href="/admin/" class="text-xl duration-500 hover:text-zinc-700 text-center">
                <p class="text-center">Admin</p>
                <p class="text-center">Panel</p>
            </a>
        </li>
    </ul>
</nav>